<style>
  .list-groups {
    width: 100%;
  }

  .list-group-table {
    width: 100%;
    table-layout: fixed;
  }

  .list-group-category-icon {
    width: 30px;
  }

  .list-group-category {
    text-align: left;
    width: 80%; /* Allocate more space for certificate names */
  }

  .list-group-name {
    text-align: right;
    width: 20%; /* Keep the date column compact */
    padding-left: 10px;
  }

  .certificate-issuer {
    margin-bottom: 15px; /* Adds space between certificates */
    display: block;
    font-weight: normal; /* Make text non-bold */
    font-size: 0.9em; /* Slightly smaller font size */
    color: #000; /* Ensure good readability */
  }
</style>

<div class="list-groups">

  {% assign certificates = data[1] | sort: 'date' | reverse %}

  <div class="list-group col-md-12">

    {% for content in certificates %}

      <table class="table-cv list-group-table">
        <tbody>
          <tr>
            {% if content.icon %}
              <td class="list-group-category-icon">
                <i class="{{ content.icon }}"></i>
              </td>
            {% else %}
              <td class="list-group-category-icon"></td>
            {% endif %}

            <td class="list-group-category">
              <a href="{{ content.url | default: '#' }}">{{ content.name }}</a>
            </td>
            <td class="list-group-name">{{ content.date }}</td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2" class="certificate-issuer">
              {{ content.issuer }}
            </td>
          </tr>
        </tbody>
      </table>

    {% endfor %}

  </div>

</div>
