<ul class="card-text font-weight-light list-group list-group-flush">
  {% for content in data[1] %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 text-center date-column">
          {% assign date = content.date %}
          <table class="table-cv">
            <tbody>
              <tr>
                <td style="text-align: left;">
                  <span class="badge font-weight-bold danger-color-dark align-middle" style="min-width: 75px">
                    {{ date }}
                  </span>
                </td>
              </tr>
              {% if content.location %}
                <tr>
                  <td style="padding-top: 6px;">
                    <p class="location" style="font-size: 0.7rem; text-align: left; margin: 0;">
                      <i class="fa-solid fa-location-dot iconlocation"></i>
                      {{ content.location }}
                    </p>
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
          <h6 class="title font-weight-bold ml-1 ml-md-4">
            <a href="{{ content.url }}">{{ content.title }}</a>
          </h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ content.affiliation }}</h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic">{{ content.summary }}</h6>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>