<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign work = data[1] %}
  {% for content in work %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 text-center date-column">
          {% assign allStartDates = content.positions | map: "startDate" | sort | reverse %}
          {% assign overallStartDate = allStartDates | first | split: '-' | slice: 0, 2 | join: '.' %}

          {% assign latestEndDate = nil %}
          {% for position in content.positions | sort: 'startDate' | reverse %}
            {% if position.endDate == "present" %}
              {% assign latestEndDate = "present" %}
              {% break %}
            {% elsif latestEndDate == nil or position.endDate > latestEndDate %}
              {% assign latestEndDate = position.endDate %}
            {% endif %}
          {% endfor %}

          {% if latestEndDate != "present" %}
            {% assign overallEndDateFormatted = latestEndDate | split: '-' | slice: 0, 2 | join: '.' %}
          {% else %}
            {% assign overallEndDateFormatted = "present" %}
          {% endif %}

          <table class="table-cv">
            <tbody>
              <tr>
                <td>
                  <span class="badge font-weight-bold danger-color-dark align-middle" style="min-width: 75px;">
                    {{ overallStartDate }} - {{ overallEndDateFormatted }}
                  </span>
                </td>
              </tr>
              {% if content.location %}
                <tr>
                  <td>
                    <p class="location">
                      <i class="fa-solid fa-location-dot iconlocation"></i>
                      {{ content.location }}
                    </p>
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
          {% if content.positions.size > 1 %}
            <ul class="items" style="list-style-type: none; padding-left: 20px;">
              {% for position in content.positions | sort: 'startDate' | reverse %}
                <li style="display: flex; align-items: center; margin-bottom: 10px;">
                  <span class="font-weight-bold dynamic-bullet" style="margin-right: 10px; display: inline-flex; align-items: center; justify-content: center; width: 8px; height: 8px; border-radius: 50%; border: 2px solid;"></span>
                  <h6 class="title font-weight-bold" style="margin: 0;">
                    <a href="{{ content.url }}" id="job-title-{{ forloop.index }}-{{ forloop.parentloop.index }}">{{ position.position }}</a>
                    <span style="font-weight: normal; font-size: 0.85rem;">
                      ({{ position.startDate | split: '-' | slice: 0, 2 | join: '.' }} - {{ position.endDate | split: '-' | slice: 0, 2 | join: '.' | default: 'present' }}) {% comment %}Corrected closing tag here{% endcomment %}
                    </span>
                  </h6>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            {% for position in content.positions %}
              <h6 class="title font-weight-bold ml-1 ml-md-4">
                <a href="{{ content.url }}" id="job-title-{{ forloop.index }}-{{ forloop.parentloop.index }}">{{ position.position }}</a>
                <span style="font-weight: normal; font-size: 0.85rem;">
                  ({{ position.startDate | split: '-' | slice: 0, 2 | join: '.' }} - {{ position.endDate | split: '-' | slice: 0, 2 | join: '.' | default: 'present' }}) {% comment %}Corrected closing tag here{% endcomment %}
                </span>
              </h6>
            {% endfor %}
          {% endif %}

          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">{{ content.name }}</h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">{{ content.summary }}</h6>

          <ul class="items">
            {% for position in content.positions %}
              {% for item in position.highlights %}
                <li>
                  <span class="item">{{ item }}</span>
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const bulletPoints = document.querySelectorAll('.dynamic-bullet');

  bulletPoints.forEach(bullet => {
    const listItem = bullet.closest('li');
    if (listItem) {
        const jobIdMatch = listItem.querySelector('.title a').id.match(/job-title-(\d+)-(\d+)/);
        if (jobIdMatch) {
            const index = jobIdMatch[1];
            const parentIndex = jobIdMatch[2];
            const jobTitleLink = document.getElementById(`job-title-${index}-${parentIndex}`);

            if (jobTitleLink) {
                const jobTitleColor = window.getComputedStyle(jobTitleLink).color;
                bullet.style.borderColor = jobTitleColor;
                bullet.style.backgroundColor = 'transparent';
            }
        }
    }
  });
});
</script>